* {
    margin: 0px;
    padding: 0px;

}

body {
    overflow: hidden;
}

:root {
    --ctr-bar-height: 42px;
    --yellow: #FDE74C;
    --red: #FB3640;
    --green: #5EF38C;
    --blue: #256EFF;
    --border: 1px solid rgba(186, 207, 247, .12);
    --background_primary: #05060F;
    --background_secondary: #0F1118;
    --background_1: linear-gradient(0deg, rgba(186, 207, 247, .04), rgba(186, 207, 247, .04)), rgba(5, 6, 15, .97);
    box-shadow: inset 0 1px 1px 0 rgba(216, 236, 248, .2), inset 0 24px 48px 0 rgba(168, 216, 245, .06), 0 16px 32px rgba(0, 0, 0, .3);
    --background_2: rgba(199, 211, 234, .06);

    --shadow: 0px 8px 17px 0px rgba(15, 17, 26, 0.98), 0px 31px 31px 0px rgba(15, 17, 26, 0.85), 0px 69px 41px 0px rgba(15, 17, 26, 0.50), 0px 123px 49px 0px rgba(15, 17, 26, 0.15), 0px 192px 54px 0px rgba(15, 17, 26, 0.02);
    --dark-background: #05060f;
    --body-normal: rgba(200, 212, 234, .78);
    --body-loud: #c7d3ea;
    --body-muted: #c7d3eaa3;
    --gradient-background-6: linear-gradient(0deg, rgba(216, 236, 248, .06), rgba(152, 192, 239, .06));
    --gradient-loud-100: linear-gradient(0deg, #d8ecf8, #98c0ef);
    --gradient-subdued-12: linear-gradient(0deg, rgba(216, 236, 248, .12), rgba(152, 192, 239, .12));
    --blue-loud: #232425;
    --blue-6: rgba(186, 214, 247, .06);
    --blue-12: rgba(186, 215, 247, .12);
    --blue-90: rgba(186, 214, 247, .9);
    --blue-24: rgba(186, 214, 247, .24);
    --syntax: "<angle>";
    --inherits: false;
    --initial-value: 0deg;
    --start-angle: 476deg;
    --delay: 6s;
    --line-width: 1px;
    --line-color: #adbbff;
    --start-angle: 0deg;
    --delay: 0s;
    --easing: linear;
    --dot-color: #d1e4fa;
    --dot-size: 4px;
    --angle: 0deg;
}

@property --angle {
    syntax: '<angle>';
    initial-value: 90deg;
    inherits: true;
}

@keyframes rot {
    100% {
        --angle: 360deg;
    }
}

#move_tool
{
    position: absolute;
    bottom: 5px;
    left: 5px;
    background-color: var(--background_primary);
    padding: 8px;
    border: var(--border);
    color: #FFF;
    border-radius: 10px;
}

#move_tool.active{
    background-color: var(--green);
    color: var(--background_primary);
}


#create {
    border-radius: 10px;
    border: var(--border);
    background: var(--background_2);
    box-shadow: var(--shadow);
    position: absolute;
    z-index: 1000;
    overflow: hidden;
    opacity: 0;
    visibility: hidden;
}

#create::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: inherit;
    padding: var(--line-width);
    background: conic-gradient(from calc(var(--angle) + var(--start-angle)), transparent 0, var(--line-color) 20%, transparent 25%);
    -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    mask-composite: xor;
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    animation: rot 5s linear infinite;
    height: 100%;
    box-sizing: border-box;
    z-index: 1;
}


#create.active {
    visibility: visible;
    opacity: 1;
    transition-delay: 100ms;
}

.create_control_bar {
    width: 180px;
    height: 38px;
    padding: 0px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--background_2);
    z-index: 5;
    position: relative;
}

.create_control_bar p {
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: capitalize;
    display: block;
    background: var(--gradient-loud-100);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
}

#create_input_box {
    padding: 15px;
    position: relative;
    z-index: 15;
}

#shape {
    border: var(--border);
    background: var(--background_2) url(Down.svg) no-repeat scroll calc(100% + -15px) center/10px;
    height: 40px;
    width: 100%;
    border-radius: 5px;
    appearance: none;
    padding-left: 15px;
    color: #FFF;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#size {
    width: 100%;
    height: 40px;
    border-radius: 5px;
    padding-block: 0px;
    padding-inline: 0px;
    box-sizing: border-box;
    padding-inline-start: 15px;
    display: block;
    background: var(--background_2);
    border: var(--border);
    color: #FFF;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    appearance: none;
    margin-top: 10px;
    margin-bottom: 10px;
}

#size::placeholder {
    color: #FFF;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#size::-webkit-inner-spin-button {
    display: none;
}

#shape:focus-visible,
#size:focus-visible {
    outline: var(--green) solid 1px;
}

.checbox_box {
    width: 100%;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.checbox_box div {
    width: 50%;
    display: flex;
    align-items: center;
}

.checbox_box div label {
    color: #FFF;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    height: 14px;
    display: flex;
    cursor: pointer;
    align-items: center;
}

.checbox_box label:before {
    content: "";
    width: 13px;
    height: 13px;
    margin-right: 10px;
    background-color: var(--background_1);
    border: var(--border);
}

.checbox_box input[type=checkbox] {
    display: none;
}

.checbox_box label:before {
    border-radius: 3px;
}

.checbox_box input[type=checkbox]:checked+label:before {
    content: "\2713";
    font-size: 10px;
    color: var(--background_1);
    text-align: center;
    line-height: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--green);
}

#create_btn {
    width: 100%;
    height: 40px;
    background: var(--green);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 100ms all ease-in-out;
}

#create_btn:hover {
    transform: scale(1.02);
    transition: 100ms all ease-in-out;
    box-shadow: 0px 3px 5px 0px rgba(16, 18, 25, 0.98), 0px 10px 10px 0px rgba(16, 18, 25, 0.85), 0px 23px 14px 0px rgba(16, 18, 25, 0.50), 0px 40px 16px 0px rgba(16, 18, 25, 0.15), 0px 63px 17px 0px rgba(16, 18, 25, 0.02);
}

#create_btn p {
    color: var(--background_1);
    text-align: center;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    letter-spacing: 2.4px;
    text-transform: uppercase;
}

#Object_transform,
#Camera_transform {
    position: absolute;
    background: var(--background_1);
    border: var(--border);
    border-radius: 10px;
    left: 5px;
    top: 5px;
    padding: 15px;
    box-sizing: border-box;
}

#Camera_transform {
    right: 5px;
    left: revert;
}

#Object_transform p,
#Camera_transform p {
    font-family: Inter;
    color: #fff;
    font-size: 14px;
    line-height: 12px;
    padding-bottom: 15px;
}

#Object_transform table,
#Camera_transform table {
    border-spacing: unset;
}

#Object_transform table tr td:first-child,
#Camera_transform table tr td:first-child {
    color: #FFF;
    font-family: Inter;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-right: 20px;
    padding-bottom: 7px;
}

#Object_transform table tr td:last-child,
#Camera_transform table tr td:last-child {
    text-align: left;
    font-weight: 600;
    font-size: 14px;
    color: #FFF;
    padding-bottom: 5px;
}

#Object_transform table tr:nth-child(1) td:last-child,
#Object_transform table tr:nth-child(4) td:last-child,
#Camera_transform table tr:nth-child(1) td:last-child,
#Camera_transform table tr:nth-child(4) td:last-child {
    color: var(--red);
}

#Object_transform table tr:nth-child(2) td:last-child,
#Object_transform table tr:nth-child(5) td:last-child,
#Camera_transform table tr:nth-child(2) td:last-child,
#Camera_transform table tr:nth-child(5) td:last-child {
    color: var(--green);
}

#Object_transform table tr:nth-child(3) td:last-child,
#Object_transform table tr:nth-child(6) td:last-child,
#Camera_transform table tr:nth-child(3) td:last-child,
#Camera_transform table tr:nth-child(6) td:last-child {
    color: var(--blue);
}

#score_box {
    width: 100px;
    height: 100px;
    background-color: white;
    position: absolute;
}

#command_list_btn {
    width: 220px;
    height: 59px;
    border-radius: 0px 0px 10px 10px;
    border: var(--border);
    background: var(--background_1);
    padding-top: 12px;
    padding-bottom: 15px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100000000000;
}

#command_list_btn>p {
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#command_list_btn>img {
    width: fit-content;
    height: 6px;
}


/* COMMAND LIST CODE START HERE */


#Command_list {
    width: 500px;
    height: calc(100% - 200px);
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%, -100%);
    border-radius: 10px;
    border: var(--border);
    box-sizing: border-box;
    z-index: 10000;
    background: var(--background_1);
    perspective: 1000px;
}

#Command_list::after {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: inherit;
    border: var(--border);
    z-index: 1;
}

.Command_list_2 {
    border-radius: 10px;
    overflow: hidden;
    height: 100%;
    padding-bottom: 10px;
    box-sizing: border-box;
    z-index: 15;
    position: relative;
    width: 100%;
    background: var(--background_1);
}

.Command_list_2::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: inherit;
    padding: var(--line-width);
    background: conic-gradient(from calc(var(--angle) + var(--start-angle)), transparent 0, var(--line-color) 20%, transparent 25%);
    -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    mask-composite: xor;
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    animation: rot 5s linear infinite;
    height: 100%;
    box-sizing: border-box;
}

.control_bar {
    height: var(--ctr-bar-height);
    display: flex;
    align-items: center;
    padding: 0px 20px 0px 20px;
    border-bottom: var(--border);
    z-index: 5;
    position: relative;
    background: var(--background_2);
    border-bottom: var(--border);
}

.Content_box {
    overflow-y: scroll;
    height: calc(100% - 35px);
    padding: 24px 20px 0px 20px;
    position: relative;
    z-index: 20;
    box-sizing: border-box;
}

.Content_box::-webkit-scrollbar {
    display: none
}

.Content_box>p {
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 14px;
    display: block;
    background: var(--gradient-loud-100);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
}

.Content_box>table {
    width: 100%;
    height: 34px;
    border-radius: 5px;
    border: var(--border);
    background: var(--background_1);
}

.Content_box>table {
    margin-bottom: 30px;
}

.Content_box>table:nth-child(2) {
    margin-bottom: 10px;
}

.Content_box>table td {
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 50%;
    line-height: 18px;
}

.Content_box>table td:first-child {
    border-right: var(--border);
}

.Content_box>table:nth-child(3) td,
.Content_box>table:nth-child(4) td {
    text-align: left;
    font-weight: 200;
    font-size: 12px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: var(--border);
}

.Content_box>table:nth-child(3) td:first-child,
.Content_box>table:nth-child(4) td:first-child {
    font-weight: 600;
}

.Content_box>table:nth-child(3) tr:last-child td,
.Content_box>table:nth-child(4) tr:last-child td {
    border-bottom: none;
}

.Content_box span {
    opacity: .3;
    font-size: 10px;
    font-weight: 100;
    letter-spacing: 0.5px;
}


/* COMMAND LIST CODE END HERE */

/* LEFT BAR & RIGHT BAR CODE START HERE */

#close,
#left,
#right,
#create_close {
    width: 12px;
    height: 12px;
    background-color: var(--red);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 6px;
}

#left {
    background-color: var(--yellow);
}

#close::before,
#left::before,
#right::before,
#create_close::before {
    content: 'Left';
    position: absolute;
    color: white;
    margin-top: 28px;
    z-index: 10000000;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 10px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    opacity: 0;
}

#right::before {
    content: 'Right';
}

#close::before,
#create_close::before {
    content: 'Close';
}


#right {
    background-color: var(--green);
}

#close:hover::before,
#left:hover::before,
#right:hover::before,
#create_close:hover::before {
    transition: all 100ms ease;
    transition-delay: 1s;
    opacity: 1;
}

#close:hover,
#left:hover,
#right:hover,
#create_close:hover {
    scale: 1.1;
    filter: drop-shadow(0px 1px 2px rgba(15, 17, 26, 0.98)) drop-shadow(0px 3px 3px rgba(15, 17, 26, 0.85)) drop-shadow(0px 7px 4px rgba(15, 17, 26, 0.50)) drop-shadow(-1px 13px 5px rgba(15, 17, 26, 0.15)) drop-shadow(-1px 20px 6px rgba(15, 17, 26, 0.02));
    transition: all 100ms ease;
}

#left_bar {
    width: 5px;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: var(--yellow);
    opacity: 0;
    visibility: hidden;
}

#right_bar {
    width: 5px;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    background-color: var(--green);
    opacity: 0;
    visibility: hidden;
}


/* LEFT BAR & RIGHT BAR CODE END HERE */

/* ERROR BOX CODE START HERE */

#error_box {
    position: absolute;
    background: var(--background_1);
    border: var(--border);
    border-radius: 10px 10px 0px 0px;
    border-color: var(--red);
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 15px;
    box-sizing: border-box;
    max-width: 300px;
}

#error_message {
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
    width: 100%;
}


/* ERROR BOX CODE END HERE */